@import "./styles/footer-container.scss";
@import './styles/message-list.scss';
@import './styles/header-container.scss';
@import './styles/input.scss';
@import './styles/emoji.scss';
@import './styles/message.scss';

html, body, #root {
  margin: 0;
  height: 100%;
}

.app{
  height: 100%;
  display: flex;
  flex-direction: column;
}