@import './header-container.scss';
@import './body-container.scss';
@import './footer-container.scss';
@import './message-list.scss';
@import './input.scss';
@import './emoji.scss';
@import './message.scss';
@import './thumbnail.scss';
@import './recipient.scss';
@import './send-button.scss';
@import './loading-animation.scss';
@import './modal.scss';
@import './login.scss';
@import './chat.scss';
@import './contact.scss';

html, body, #root {
  margin: 0;
  height: 100%;
}

.app{
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
}