@import './colors.scss';

.body-container{
  // since background url has to be dynamically according to the environment, useing jsx in-line style instead
  // background: linear-gradient(
  //   rgba(229, 221, 213, 0.9), 
  //   rgba(229, 221, 213, 0.9)
  // ), url(/build/view/images/background.png);
  // background-size: 24em;
  // background-color: $background-khaki;
  overflow-y: auto;
  
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}