$background-grey: #EFEFEF;
$font-grey: #8D9194;
$background-khaki: #E5DDD5;
$thumbnail: #00C33A;
$timestamp-grey: #5F5F5F;
$loading-color: #c1c1c1;
$message-green: #DBF9C4;
$login-background: #F7FCF9;