.message{
  border-radius: 12px;
  background-color: #DBF9C4;
  line-height: 3em;
  flex: 1 1 auto;
  align-self: flex-end;
  padding: 0em 1.5em;
  margin: 5px 0px;
  .other{
    background-color: white;
  }
}